---
title: Tal Niv
subtitle: Intellectual Property Wizardry and Open Sourcery 
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.subtitle }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
body {
  padding-top: 0;
  margin-top: 0;
}
.post_box {
  border-top: #ccc 1px solid;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #F4F4F4;
  min-height: 50px;
}

.post_box:hover {
  background-color: #E0E0E0;
}

div.image {
  width: 250px;
  margin-left: 10px;
}

div.head_text {
  margin-right: 60px;
}

div.links {
  width: 50px;
  float: right;
  text-align: right;
}

div.post_box_container {
  display: inline-block;
  width: 47%;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
}

div.post_box p {
  color: black;
}
    </style>
  </head>
  <body>
    <div class="wrapper">
      <img src="/assets/top_1.jpeg" width="860" height="243"/>
      <div style="height: 0;">
        <div style="position: relative; top: -233px; left: 20px;">
          <div style="display: inline-block;">
            <img src="http://www.gravatar.com/avatar/064adde036520ca716c5d3c7b8bc92af.png" width="80" height="80">
          </div>
          <div style="display: inline-block;vertical-align: top;margin-left: 10px;">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.subtitle }}</h2>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="links">
          <a href="feed.xml"><img width="40" src="/assets/rss.png"></img></a>
          <a href="https://twitter.com/talniv"><img width="40" src="/assets/twitter.png"></img></a>
          <a href="https://github.com/talniv"><img width="40" src="/assets/github.png"></img></a>
          <!-- <a href="https://www.linkedin.com/pub/tal-niv/0/396/76b"><img width="40" src="/assets/linkedin.png"></img></a> -->
        </div>
        <div class="head_text">
          <h3> </h3>
<br>
<p> <big><big> What is this about? </big></big></p>
          <p><big>This is were I* talk about how to make CONTENT REGULATION such as Intellectual Property, contracts, licenses, & terms of use work for collaborative creativity. In other words, what I'm thinking here, as well as offering my two cents wisdom about, is on how to make regulation actually provide a real SERVICE, which I think is what it is for.</big> </p>
<br>
          <p> <big><big> Why am I Implying that this requires witchcraft?</big></big>  </p>
          <p> <big>Not only because it strikes a healthy self aggrandizing tone. Mainly, it's because content regulation as it stands is not about collaboration. Not AT ALL. At least at present, and I don't see that it is going to change any time soon, content regulation is thinking single entities, whether it is corporate or human. This means that as long as it's this way we need a few spells to make it work for groups.  <b> Let's trick it. </b> </big> </p>
<br>
<p> <big><big> Why Does Collaboration Matters?</big></big>  </p>
<p> <big> Because, that's just how creative things are made. Within companies, within orgs, among friends, everywhere; In software development, in hardware, in education, in research, in art. It's kind of not surprising that people work together.  Funny that regulation isn't noticing that. </big> </p>
<br>
<p> <big><big> Why is regulation relevant?</big></big>  </p>
<br>
<p> <big> Because like everything in life, there is collaboration and then there is collaboration. When people who are, thankfully, different than one another, are trying to shoot in the same directions, they need to somehow find a way to resolve issues that come up because they tick differently. Their motivations are different, their aims are different, their styles are different. everything is different. This is where regulation should come in. To Help structure collaboration. That is all. Since it isn't naturally helpful, but the other way around, this is about trying to work around it. Get content regulation to serve creativity despite itself.</big>  </p>

<p> <small> </small>*Making excuses: Because the topic is what it is, I am embarrassed that my blog is static. I just want to use the tools I am using (thankfully) which have been created by a great many working together and static websites is what they do. I'll have to think what to do about that. </small> </p>

        </div>
      </div>
      <div class="section">
{% for i in (1..2) %}
        <div class="post_box_container container_{{ i }}"> 
<div>
  {% for post in site.posts %}
  {% assign print_post = false %}
  {% if post.layout == "note" and i == 1 %}
    {% assign print_post = true %}
  {% elsif post.layout != "note" and i == 2 %}
    {% assign print_post = true %}
  {% endif %}
  {% if print_post == true %}
    <a href="{{ post.url }}">
      <div class="post_box">
        <div style="float: left;">
          <img src="/assets/{{ post.layout }}_icon.png" width="50" height="50"></img>
        </div>
        <div style="margin-left: 60px;">
          <strong>{{ post.title }}</strong>
          <p>{{ post.description }}</p>
          <small>{{ post.date | date_to_long_string }}</small>
        </div>
      </div>
    </a>
  {% endif %}{% endfor %}
</div>
        </div>
{% endfor %}
      </div>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
