<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<style>
body {
background: url("/assets/post_bg.jpeg") fixed 0 0 no-repeat;
color: black;
}
</style>
  </head>
  <body>
<div class="wrapper">
  <a href="/">&lt; Back</a>
  <div style="float:right;">Tal Niv</div>
  <hr>
  <div>
    {{ content }}
  </div>
  <hr>
  <a href="/">&lt; Back</a>
  <div style="float:right;">Tal Niv</div>
</div>

 <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
